@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --color-text: #FFF;
  --color-main: #333;
  --color-darker: #222;
  --color-lighter: #555;
  --color-accent: #75c586;
  --color-transparent: rgba(0, 0, 0, 0);

  --font-size: 16px;
  
  --rounding: 18px;
  --rounding-more: 24px;
  --rounding-less: 8px;

  --size-component: 6em;
  --size-field: 4em;
  --size-btn: var(--size-component);
  --size-toolbar: 9em;

  --min-width: 16em;

  --gap-small: 0.4em;
  --gap-normal: 1.5em;
  --gap-large: 3em;

  --animation-time: .3s;
  --animation-ease: ease-out;
}

* {
  padding: 0;
  margin: 0;
  color: var(--color-text);
  font-size: var(--font-size);
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

body {
  background-color: var(--color-darker);
  min-height: 100vh;
}

p {
  text-align: justify;
  line-height: 2em;
}

a:not(.native) {
  text-decoration: none;
}

.main {
  padding: var(--gap-normal);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: var(--size-toolbar);

  background-color: var(--color-main);
}

.chip {
  display: inline-block;
  
  border-radius: var(--rounding-less);
  padding: 0.4em 0.6em;
  margin-right: var(--gap-small);
  margin-bottom: var(--gap-small);

  background: var(--color-main);
  /* background: linear-gradient(10deg, var(--color-main) 0%, var(--color-main) 60%, var(--color-lighter) 100%); */
  border: 1px solid var(--color-lighter);
}

@media (min-width: 600px) {
  /* TODO: work on this */
}

/* LAYOUTS */

.layout-article {
  display: flex;
  flex-flow: column wrap;
}

.layout-article > .main {
  flex-grow: 1;
}

.layout-article > .main article {
  max-width: 600px;
  margin: auto;
  margin-bottom: var(--gap-large);
}

/* spacing between elements of an article */
.main > article > * {
  margin-bottom: var(--gap-normal);
}

/* MORE SPECIFIC TO THIS PAGE */

.pfp-container {
  --size: calc(var(--size-component) * 4);
  
  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--size);
  width: var(--size);
}

.pfp-bg {
  position: absolute;
  height: var(--size);
  width: var(--size);

  background: radial-gradient(
    circle,
    var(--color-accent) 0%,
    var(--color-accent) 55%,
    var(--color-transparent) 75%,
    var(--color-transparent) 100%
  );
  filter: blur(72px);

  z-index: -2;
}

.pfp {
  --pfp-width: calc(var(--size-component) * 3);

  display: block;
  height: var(--pfp-width);
  width: var(--pfp-width);

  border-radius: var(--pfp-width);
}

#title {
  margin-bottom: var(--gap-small);
}

#bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--gap-normal);
}

.chip-area {
  width: 100%;
}
