.pfp {
  --pfp-width: calc(var(--size-component) * 3);

  display: block;
  height: var(--pfp-width);
  width: var(--pfp-width);

  border-radius: var(--pfp-width);
}

.upper {
  display: flex;
  justify-content: space-between;
  margin-top: var(--gap-normal);
}

.main > article > * {
  margin-bottom: var(--gap-normal);
}

.backdrop {
  background-image: url('https://images.unsplash.com/photo-1649908906951-2a60e787fe6c?w=320');
  background-position: center;
  background-size: cover;
  filter: blur(8px);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30em;
  z-index: -10;
}

#bio {
  text-align: justify;
  line-height: 2em;
}

.chip {
  background-color: var(--color-main);
  border-radius: var(--rounding-less);
  padding: var(--gap-small);
  margin-right: var(--gap-small);
}
